*{
  @include reset-all-styles;
}

.wrapper{
  font-family: "Montserrat", "Arvo", "Open Sans", sans-serif;
}

.container{
  @include container(1225px);
}

.logo {
  display: inline-flex;
  max-width: 120px;

  &__image {
    width: 100%;
  }
}