:root {
  --white: #ffffff;
  --black: #000000;

  --text-light: var(--white);
  --text-dark: #212121;
  --text-gray: #9FA3A7;
  --text-dark-gray: #c8c8c880;

  --bg-light: #F7F8F9;
  --bg-yellow: #FFC80A;
  --bg-purple: #8A72B6;
  --bg-dark: #292929;
}